.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 75%;
  /* color: white; */
  /* height: 100%; */
  overflow: hidden;
}
.calendar {
  padding: 4rem;
}

@media (max-width: 427px) {
  .calendar {
    padding: 0;
  }
}
