.container {
  align-items: center;
  display: contents;
  width: 100%;
  padding: 2rem;
}

.navbar {
  background-color: #0b0c12;
  height: 4rem;
  display: flex;
  justify-content: center;
}

.navbar button {
  color: white;
  width: 100%;
}

.button:hover {
  text-decoration: none !important;
  background-color: rgb(45 70 93) !important;
}

.listeButton {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
